.contact-head{
    color: #00AD7C;
    text-align: center;
}

.head-tagline{
    text-align: center;
    margin: 10px 250px;
    color: black;
}

.contact-container{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.info-head{
    font-size: 25px;
    color: #00AD7C;
    margin-left: 10px;
}

.contact-info{
    font-size: 15px;
    margin-left: 10px;
}

.thankyou{
    text-align: center;
    font-size: 25px;
    color: #00AD7C;
    font-family: "Abril Fatface", serif;
    margin-top: 40px;
}

.sub-container{
    height: 150px;
    width: 350px;
    border: 2px solid #00AD7C;
    border-radius: 3px;
    background-color: #B5FF7D;
}