.Footer-container {
    background-color: #52D681;
    padding: 0;
    margin: 0;
    height: 70px;
    width: 100%;
    text-align: center;
    margin-top: auto;
    bottom: 0;
    margin-top: 80px;
}

.Footer-line{
    font-size: 25px;
    color: white;
    font-style: normal;
    text-align: center;
    padding: 15px;
}